[submodule "dotvim/bundle/colorscheme-solarized"]
	path = dotvim/bundle/colorscheme-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/colorscheme-molokai"]
	path = dotvim/bundle/colorscheme-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "dotvim/bundle/gundo"]
	path = dotvim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/unimpaired"]
	path = dotvim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/surround"]
	path = dotvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/commentary"]
	path = dotvim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotvim/bundle/easymotion"]
	path = dotvim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotvim/bundle/vim-visual-star-search"]
	path = dotvim/bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/colorscheme-desert256"]
	path = dotvim/bundle/colorscheme-desert256
	url = https://github.com/vim-scripts/desert256.vim.git
[submodule "dotvim/bundle/css-color"]
	path = dotvim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
