[submodule "dotvim/bundle/colorscheme-solarized"]
	path = dotvim/bundle/colorscheme-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/colorscheme-molokai"]
	path = dotvim/bundle/colorscheme-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "dotvim/bundle/gundo"]
	path = dotvim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/unimpaired"]
	path = dotvim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/surround"]
	path = dotvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/commentary"]
	path = dotvim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotvim/bundle/easymotion"]
	path = dotvim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/colorscheme-desert256"]
	path = dotvim/bundle/colorscheme-desert256
	url = https://github.com/vim-scripts/desert256.vim.git
[submodule "dotvim/bundle/css-color"]
	path = dotvim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/bundle/indent-guides"]
	path = dotvim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotvim/bundle/repeat"]
	path = dotvim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/javascript-indentation"]
	path = dotvim/bundle/javascript-indentation
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotvim/bundle/simple-javascript-indenter"]
	path = dotvim/bundle/simple-javascript-indenter
	url = https://github.com/jiangmiao/simple-javascript-indenter.git
[submodule "dotvim/bundle/web-indent"]
	path = dotvim/bundle/web-indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "dotvim/bundle/space"]
	path = dotvim/bundle/space
	url = https://github.com/spiiph/vim-space
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/suy/syntastic.git
	branch = skip-diff-window
[submodule "dotvim/bundle/pathogen"]
	path = dotvim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotvim/bundle/pasta"]
	path = dotvim/bundle/pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "dotvim/bundle/ragtag"]
	path = dotvim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "dotvim/bundle/javascript-syntax"]
	path = dotvim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "dotvim/bundle/operator-user"]
	path = dotvim/bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "dotvim/bundle/operator-replace"]
	path = dotvim/bundle/operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule "dotvim/bundle/submode"]
	path = dotvim/bundle/submode
	url = https://github.com/kana/vim-submode.git
[submodule "dotvim/bundle/exjumplist"]
	path = dotvim/bundle/exjumplist
	url = https://github.com/kana/vim-exjumplist.git
[submodule "dotvim/bundle/smartinput"]
	path = dotvim/bundle/smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "dotvim/bundle/eunuch"]
	path = dotvim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotvim/bundle/textobj-user"]
	path = dotvim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "dotvim/bundle/textobj-line"]
	path = dotvim/bundle/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "dotvim/bundle/textobj-function"]
	path = dotvim/bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "dotvim/bundle/qmake"]
	path = dotvim/bundle/qmake
	url = git://gitorious.org/vim-for-qt-kde/vim-qmake.git
	pushurl = git@gitorious.org:vim-for-qt-kde/vim-qmake.git
[submodule "dotvim/bundle/markdown"]
	path = dotvim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "dotvim/bundle/textobj-underscore"]
	path = dotvim/bundle/textobj-underscore
	url = https://github.com/lucapette/vim-textobj-underscore.git
[submodule "dotvim/bundle/textobj-entire"]
	path = dotvim/bundle/textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "dotvim/bundle/textobj-syntax"]
	path = dotvim/bundle/textobj-syntax
	url = https://github.com/kana/vim-textobj-syntax.git
[submodule "dotvim/bundle/textobj-diff"]
	path = dotvim/bundle/textobj-diff
	url = https://github.com/kana/vim-textobj-diff.git
[submodule "dotvim/bundle/altr"]
	path = dotvim/bundle/altr
	url = https://github.com/kana/vim-altr.git
[submodule "dotvim/bundle/ctrlp"]
	path = dotvim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/clang_complete"]
	path = dotvim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "dotvim/bundle/ack"]
	path = dotvim/bundle/ack
	url = https://github.com/suy/vim-ack.git
	pushurl = git@github.com:suy/vim-ack.git
[submodule "dotvim/bundle/lastnextprevious"]
	path = dotvim/bundle/lastnextprevious
	url = https://github.com/suy/vim-lastnextprevious.git
[submodule "dotvim/bundle/vimproc"]
	path = dotvim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "dotvim/bundle/vimshell"]
	path = dotvim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule "dotvim/bundle/localrc"]
	path = dotvim/bundle/localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "dotvim/bundle/gist"]
	path = dotvim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "dotvim/bundle/webapi"]
	path = dotvim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "dotvim/bundle/ctrlp-commandline"]
	path = dotvim/bundle/ctrlp-commandline
	url = https://github.com/suy/vim-ctrlp-commandline.git
[submodule "dotvim/bundle/fontzoom"]
	path = dotvim/bundle/fontzoom
	url = https://github.com/thinca/vim-fontzoom.git
[submodule "dotvim/bundle/visualstar"]
	path = dotvim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "dotvim/bundle/prettyprint"]
	path = dotvim/bundle/prettyprint
	url = https://github.com/thinca/vim-prettyprint.git
[submodule "dotvim/bundle/singleton"]
	path = dotvim/bundle/singleton
	url = https://github.com/thinca/vim-singleton.git
[submodule "dotvim/bundle/editvar"]
	path = dotvim/bundle/editvar
	url = https://github.com/thinca/vim-editvar.git
[submodule "dotvim/bundle/current-func-info"]
	path = dotvim/bundle/current-func-info
	url = https://github.com/tyru/current-func-info.vim.git
[submodule "dotvim/bundle/gitv"]
	path = dotvim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "dotvim/bundle/niceblock"]
	path = dotvim/bundle/niceblock
	url = https://github.com/kana/vim-niceblock.git
[submodule "dotvim/bundle/ctrlp-unicode"]
	path = dotvim/bundle/ctrlp-unicode
	url = https://github.com/suy/vim-ctrlp-unicode.git
[submodule "dotvim/bundle/mojo-template-syntax"]
	path = dotvim/bundle/mojo-template-syntax
	url = https://github.com/yko/mojo.vim.git
[submodule "dotvim/bundle/perlomni"]
	path = dotvim/bundle/perlomni
	url = https://github.com/c9s/perlomni.vim
[submodule "dotvim/bundle/scriptease"]
	path = dotvim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "dotvim/bundle/unite"]
	path = dotvim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "dotvim/bundle/rsi"]
	path = dotvim/bundle/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "dotvim/bundle/vimfiler"]
	path = dotvim/bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.git
[submodule "dotvim/bundle/unite-outline"]
	path = dotvim/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "dotvim/bundle/angry"]
	path = dotvim/bundle/angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule "dotvim/bundle/abolish"]
	path = dotvim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "dotvim/bundle/characterize"]
	path = dotvim/bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "dotvim/bundle/qml"]
	path = dotvim/bundle/qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
	branch = develop
[submodule "dotvim/bundle/unite-history"]
	path = dotvim/bundle/unite-history
	url = https://github.com/thinca/vim-unite-history.git
[submodule "dotvim/bundle/dispatch"]
	path = dotvim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "dotvim/bundle/quickrun"]
	path = dotvim/bundle/quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "dotvim/bundle/unite-build"]
	path = dotvim/bundle/unite-build
	url = https://github.com/Shougo/unite-build.git
[submodule "dotvim/bundle/junkfile"]
	path = dotvim/bundle/junkfile
	url = https://github.com/Shougo/junkfile.vim.git
[submodule "dotvim/bundle/neocomplete"]
	path = dotvim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "dotvim/bundle/unite-help"]
	path = dotvim/bundle/unite-help
	url = https://github.com/Shougo/unite-help.git
[submodule "dotvim/bundle/context-commentstring"]
	path = dotvim/bundle/context-commentstring
	url = https://github.com/suy/vim-context-commentstring.git
[submodule "dotvim/bundle/textobj-wiw"]
	path = dotvim/bundle/textobj-wiw
	url = https://github.com/h1mesuke/textobj-wiw.git
[submodule "dotvim/bundle/neosnippet"]
	path = dotvim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "dotvim/bundle/signify"]
	path = dotvim/bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "dotvim/bundle/airline"]
	path = dotvim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotvim/bundle/unite-ssh"]
	path = dotvim/bundle/unite-ssh
	url = https://github.com/Shougo/unite-ssh.git
[submodule "dotvim/bundle/reunions"]
	path = dotvim/bundle/reunions
	url = https://github.com/osyo-manga/vim-reunions
[submodule "dotvim/bundle/marching"]
	path = dotvim/bundle/marching
	url = https://github.com/osyo-manga/vim-marching
[submodule "dotvim/bundle/youcompleteme"]
	path = dotvim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "dotvim/bundle/colorscheme-tomorrow"]
	path = dotvim/bundle/colorscheme-tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "dotvim/bundle/quicktask"]
	path = dotvim/bundle/quicktask
	url = https://github.com/aaronbieber/quicktask.git
[submodule "dotvim/bundle/echodoc"]
	path = dotvim/bundle/echodoc
	url = https://github.com/Shougo/echodoc.vim.git
[submodule "dotvim/bundle/maktaba"]
	path = dotvim/bundle/maktaba
	url = https://github.com/google/maktaba.git
[submodule "dotvim/bundle/vital"]
	path = dotvim/bundle/vital
	url = https://github.com/vim-jp/vital.vim.git
[submodule "dotvim/bundle/glaive"]
	path = dotvim/bundle/glaive
	url = https://github.com/google/glaive.git
[submodule "dotvim/bundle/snowdrop"]
	path = dotvim/bundle/snowdrop
	url = https://github.com/osyo-manga/vim-snowdrop.git
[submodule "dotvim/bundle/choosewin"]
	path = dotvim/bundle/choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "dotvim/bundle/startify"]
	path = dotvim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "dotvim/bundle/neomru"]
	path = dotvim/bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
[submodule "dotvim/bundle/indent-line"]
	path = dotvim/bundle/indent-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule "dotvim/bundle/textobj-number"]
	path = dotvim/bundle/textobj-number
	url = https://github.com/haya14busa/vim-textobj-number.git
[submodule "dotvim/bundle/lesscss"]
	path = dotvim/bundle/lesscss
	url = https://github.com/groenewege/vim-less.git
[submodule "dotvim/bundle/css3-syntax"]
	path = dotvim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "dotvim/bundle/lion"]
	path = dotvim/bundle/lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "dotvim/bundle/fugitive-bitbucket-gbrowse"]
	path = dotvim/bundle/fugitive-bitbucket-gbrowse
	url = https://github.com/tommcdo/vim-fubitive.git
[submodule "dotvim/bundle/projectionist"]
	path = dotvim/bundle/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "dotvim/bundle/smartinput-endwise"]
	path = dotvim/bundle/smartinput-endwise
	url = https://github.com/cohama/vim-smartinput-endwise.git
[submodule "dotvim/bundle/endwise"]
	path = dotvim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotvim/bundle/agit"]
	path = dotvim/bundle/agit
	url = https://github.com/cohama/agit.vim.git
[submodule "dotvim/bundle/rbenv"]
	path = dotvim/bundle/rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "dotvim/bundle/bundler"]
	path = dotvim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "dotvim/bundle/rake"]
	path = dotvim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "dotvim/bundle/twiggy"]
	path = dotvim/bundle/twiggy
	url = https://github.com/sodapopcan/vim-twiggy.git
	branch = master
