extends cfamily

#
# Repetition
#
snippet for "for" !b
for (int ${1:i}=${2:0}; ${3:condition}; ${4:$1++}) {
	${VISUAL}$5
}$0
endsnippet

#
# Pre processor directives
#
snippet inc "Include a file" !b
#include "${VISUAL}$0"
endsnippet
