extends cfamily

#
# Repetition
#
snippet for "for" !b
for (${1:int ${2:i}=${3:0}}; ${4:condition}; ${5:++$2}) {
	${VISUAL}$6
}$0
endsnippet

#
# Pre processor directives
#
snippet inc "Include a file" !b
#include "${VISUAL}$0"
endsnippet

snippet main "Kickstart a main()" !b
#include <${1:stdio.h}>

int main(int ${2:argc}, char** ${3:argv})
{
	$4
	return 0;
}
$0
endsnippet

# vim:ft=snippets:
