snippet f
function ${1:function_name}(${2})
	${VISUAL}$0
endfunction
endsnippet

snippet if
if ${1:condition}
	${VISUAL}$0
endif
endsnippet

snippet ife
if ${1:condition}
	${VISUAL}$2
else
	$0
endif
endsnippet

